<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <title>BLOG</title>

        <link
            rel="stylesheet"
            href="{% static '/assets/bootstrap/css/bootstrap.min.css' %}"
        />
        <link
            rel="stylesheet"
            href="{% static '/assets/css/styles.min.css' %}"
        />
        <script href="{% static '/assets/js/script.min.js' %}" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js"
            integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css"
        /> 
    
        <style>
            #main {
                min-height: 500px;
            }
            body::-webkit-scrollbar {
                width: 5px;
            }
            td{
                width: 30%;
            }
            body::-webkit-scrollbar-thumb {
                background: rgb(74, 74, 255);
                border-radius: 15px;
            }
            .img-wrapper {  
                overflow: hidden; 
            }

            .inner-img {
                transition: 0.3s;
            }

            .inner-img:hover {
                transform: scale(1.1);
            }

            .img-wrapper {
                display: inline-block;
                box-sizing: border-box;
            }
            footer{
                align-self: baseline;
            }
            .gridview{
                width: min(800px, 96%);
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0.5rem;
            }
            @media only screen and (min-width: 600px) {
                .gridview{
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 0.5rem;
                }
            }
        </style>
    </head>
    <body>
        <script src="{% static 'assets/js/script.min.js'%}"></script>
        <nav
            class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3"
            id="mainNav"
        >
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="/"
                    ><span
                        class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="1em"
                            height="1em"
                            fill="currentColor"
                            viewBox="0 0 16 16"
                            class="bi bi-exclude"
                        >
                            <path
                                d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm12 2H5a1 1 0 0 0-1 1v7h7a1 1 0 0 0 1-1V4z"
                            ></path></svg></span
                    ><span>BLOG Lite</span></a
                ><button
                    data-bs-toggle="collapse"
                    class="navbar-toggler"
                    data-bs-target="#navcol-1"
                >
                    <span class="visually-hidden">Toggle navigation</span
                    ><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'explore' %}"
                                >Explore</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'events' 'all' %}"
                                >Events</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{% url 'profile' request.user %}"
                                >Profile</a
                            >
                        </li>
                    </ul>
                    <a
                        class="btn btn-primary shadow"
                        role="button"
                        href="{% url 'createpost' %}"
                        style="
                            padding-left: 18px;
                            padding-right: 18px;
                            margin-left: 20px;
                            margin-right: 20px;
                        "
                        >Create Post</a
                    >
                    {% if request.user.is_authenticated %}
                    <a
                        class="btn btn-primary shadow"
                        role="button"
                        href="{% url 'logout' %}"
                        style="margin-left: 20px; margin-right: 20px"
                        >Log Out</a
                    >
                    {% else %}
                    <a
                        class="btn btn-primary shadow"
                        role="button"
                        href="{% url 'login' %}"
                        style="margin-left: 20px; margin-right: 20px"
                        >Log In</a
                    >
                    {% endif %}
                </div>
            </div>
        </nav>
        <div id="main">
            {% block body %}
            
            {% endblock %}
        </div>
        <footer class="bg-primary-gradient" style="background: #ffffff">
            <div
                class="container py-4"
                style="
                    margin-top: 0px;
                    margin-bottom: 0px;
                    padding-left: 0px;
                    padding-right: 0px;
                "
            >
                <hr />
                <div
                    class="text-muted d-flex justify-content-between align-items-center pt-3"
                >
                    <p class="mb-0">Copyright © 2022 BLOG Lite</p>
                    <div class="fw-bold d-flex align-items-center mb-2">
                        <span
                            class="bs-icon-sm bs-icon-circle bs-icon-primary d-flex justify-content-center align-items-center bs-icon me-2"
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="1em"
                                height="1em"
                                fill="currentColor"
                                viewBox="0 0 16 16"
                                class="bi bi-exclude"
                            >
                                <path
                                    d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm12 2H5a1 1 0 0 0-1 1v7h7a1 1 0 0 0 1-1V4z"
                                ></path>
                            </svg>
                        </span>
                        <span>BLOG Lite</span>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
