{% extends 'basic.html' %} 
{% block body %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold py-xl-0 my-xl-0">
                    Edit post information<br />
                </h2>
                <p class="text-muted">
                    Edit post data and provide us more accurate information
                </p>
            </div>
        </div>
    </div>
</section>
<center>
        <div
            class="container text-center pt-4 py-xl-4"
            style="
                width: min(720px, 100%);
                background: rgba(55, 99, 244, 0.1);
                border-radius: 25px;
                padding: 1rem 0.5rem;
            "
        >
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div
                    class="mx-4"
                    style="
                        margin-top: 0px;
                        margin-bottom: 0px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    "
                >
                    <div class="editpostimage" style="display: grid;">
                        <div
                            style="
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            "
                        >
                            <img
                                src="{{ post.image.url }}"
                                style="
                                    object-fit: contain;
                                    max-height: 200px;
                                    max-width: 200px;
                                "
                            />
                        </div>
                        <div class="files color form-group mb-3">
                            <input class="form-control" type="file" name="post_image" value="" accept="image/*" />
                        </div>
                    </div>
                </div>
                <div
                    class="mx-4"
                    style="
                        margin-top: 0px;
                        margin-bottom: 0px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    "
                >
                    <p
                        style="
                            text-align: left;
                            margin-bottom: 0px;
                            margin-left: 5px;
                        "
                    >
                        Title
                    </p>
                    <textarea
                        class="form-control"
                        style="
                            width: 100%;
                            line-height: 1.25em;
                            border-radius: 10px;
                            min-height: 5rem;
                            padding-left: 1rem;
                        "
                        name="title"
                        placeholder="Title"
                    >{{post.title}}</textarea>
                    <p
                        style="
                            text-align: left;
                            margin-top: 20px;
                            margin-bottom: 0;
                            margin-left: 5px;
                        "
                    >
                        Description
                    </p>
                    <textarea
                        class="form-control"
                        style="
                            width: 100%;
                            min-height: 10rem;
                            line-height: 1.25em;
                            border-radius: 10px;
                            padding-left: 1rem;
                        "
                        name="description"
                        placeholder="Description"
                    >
{{post.description}}</textarea
                    >
                </div>
                <div
                    class="mx-4"
                    style="
                        margin-top: 0px;
                        margin-bottom: 0px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    "
                >
                    <select
                        class="form-select form-select-md mb-3"
                        aria-label=".form-select-lg example"
                        name="event"
                      required
                    >
                        <option selected value="{{ post.post_event }}">{{ post.post_event.capitalize }}</option>
                        <option value="yash">Yash</option>
                        <option value="compufest">Compufest</option>
                        <option value="itechroots">iTechRoots</option>
                        <option value="upsurge">Upsurge</option>
                        <option value="icon">Icon</option>
                        <option value="electrica">Electrica</option>
                        <option value="antaheen">Antaheen</option>
                        <option value="mechfiesta">Mechfiesta</option>
                        <option value="sparsh">Sparsh</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="m-4 d-flex justify-content-evenly">
                    <a href="{% url 'deletepost' post.id %}">
                        <button class="btn btn-danger shadow d-block w-20">
                            Delete
                        </button>
                    </a>
                    <button
                        class="btn btn-primary shadow d-block w-20"
                        type="submit"
                    >
                        Update
                    </button>
                </div>
            </form>
        </div>
</center>
{% endblock %}
