{% extends 'basic.html' %} 
{% block body %} 
{% load static %}
<section class="py-2">
    <div class="container py-5 my-xl-0 py-xl-2">
        <div class="row mb-5 py-xl-2 my-xl-2">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold py-xl-0 my-xl-0">Personal Feed<br /></h2>
                <p class="text-muted pb-xl-0 mb-xl-0">
                    We want to make sure that you see the most relevant content that is tailored to your interests.Our goal is to provide a personalized experience for each of our users.
                </p>
            </div>
        </div>
    </div>
</section>
<center>
{% if posts|length == 0 %}
    <center style="min-height: 20vh;">
        <h3>No posts yet. Follow people. <a href="{% url 'explore' %}">Explore</a>. <a href="{% url 'createpost' %}">Create.</a></h3>
    </center>
{% endif %}

{% for i in posts%}
<div
    style="
        width: min(100%, 600px);
        margin-inline: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    "
>
    <div
        class="container pt-4 py-xl-4"
        style="
            background: rgba(55, 99, 244, 0.1);
            border-radius: 25px;
            padding-top: 24px;
            width: max(300px, 95%);
            margin-inline: 0;
            padding-bottom: 8px;
        "
    >
    <div align="left">
        <a
            style="
                width: 90%;
                margin-inline: auto;
                width: 100%;
                font-size: 1.35rem;
                font-weight: 400;
                cursor: pointer;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            "
            href="{% url 'profile' i.post.user %}"
        >
            <img
                class="border rounded-circle"
                src="{{ i.profile.profile_picture.url }}"
                alt="image here"
                style="
                    text-align: center;
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    border-radius: 10px;
                    outline: 1px solid rgb(0, 183, 121);
                "
            />&nbsp; 
            {% if i.profile.user.first_name %}
            {{ i.profile.user.first_name }}
            {% else %}
            {{ i.profile.user }}
            {% endif %}
        </a>
    </div>
        <a href="{% url 'post' i.post.id %}">
            <div
                class="d-flex justify-content-center align-items-center img-wrapper"
                style="
                    box-sizing: content-box;
                    margin: 1.5rem 0;
                    background: rgba(255, 255, 255, 0.5);
                    -webkit-backdrop-filter: blur(100px);
                    backdrop-filter: blur(5px);
                    overflow: hidden;
                    border-radius: 10px;
                "
            >
                <img
                    class="img-fluid d-xxl-flex justify-content-xxl-center align-items-xxl-center inner-img"
                    src="{{ i.post.image.url }}"
                    style="
                        text-align: center;
                        border-radius: 10px;
                        border-style: none;
                        width: min(100%, 550px);
                        aspect-ratio: 1;
                        object-fit: contain;
                        margin: 0 0;
                        overflow: hidden ;
                    "
                />
            </div>
            <h4
                style="
                    margin-bottom: 0px;
                    margin-top: -10px;
                    text-align: center;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                "
            >
                {{ i.post.title }}
            </h4>
            <p
                style="
                    padding-bottom: 0px;
                    text-align: center;
                    margin-top: 4px;
                    margin-bottom: 0px;
                    color: rgba(24, 24, 24, 0.6);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                "
            >
                {{ i.post.description }}
            </p>
        </a>

        <div
            style="
                margin-bottom: 0px;
                margin-top: 16px;
                display: flex;
                justify-content: space-between;
            "
        >
            <a href="{% url 'like' i.post.id %}">
                <button
                    type="submit"
                    align="center"
                    class="btn btn-primary btn-sm"
                    height="30px"
                >
                    <img
                        src="{% static 'assets/img/like.png' %}"
                        style="height: 30px; aspect-ratio: 1"
                    />&nbsp;<span style="color: rgb(255, 255, 255)">
                        {{ i.post.likes }}
                    </span>
                </button>
            </a>
            <div
                class="p-2"
                style="
                    align-items: center;
                    border-radius: 15px;
                    padding-top: 2px;
                    font-size: 14px;
                    font-weight: 600;
                    background: rgb(255, 255, 255);
                    color: rgb(0, 183, 121);
                "
            >
                Posted on: &nbsp
                <span>{{ i.post.created_at|date }} </span>
            </div>
        </div>
    </div>
</div>
{% endfor %} 
</center> 
{% endblock %}
