{% extends 'basic.html' %} {% block body %}
<section class="py-5">
    <div class="container pe-xl-0 ps-xl-0" style="width: 1400px">
        <h1
            class="fw-bold text-center ps-0 pb-0 mb-0 ps-md-0 pe-lg-0"
            style="font-size: 40px; text-align: left"
        >
            <img
                class="rounded-circle"
                src="{{ profile.profile_picture.url }}"
                style="
                    width: 16%;
                    aspect-ratio: 1;
                    padding: 10px;
                    object-fit: cover;
                "
            /><br />
        </h1>
        <h1
            class="fw-bold text-center ps-0 pb-0 mb-0 ps-md-0 pe-lg-0"
            style="font-size: 30px; text-align: left"
        >
            <span style="color: rgb(0, 183, 121)"
                >
                {% if profile.user.first_name %}
                {{ profile.user.first_name }}
                {% else %}
                {{ profile.user }}
                {% endif %}
                </span
            ><br />
        </h1>
        <p
            class="fw-bold text-center"
            style="margin:auto auto;font-size: 18px; max-width: 50%; text-align: left;max-height: 4rem;overflow-y: hidden;word-wrap: normal;"
        >
            <span class="text-muted" style="color: rgb(153, 249, 217)"
                >{{ profile.bio }}</span
            ><br />
        </p>
        <h1
            class="fw-bold text-center ps-0 pb-0 mb-0 ps-md-0 pe-lg-0"
            style="font-size: 40px; text-align: left"
        >
            {% if is_me %}
            <a href="{% url 'editprofile' %}"
                ><button
                    class="btn btn-primary fs-6 fw-light text-center border-0 align-items-center align-content-center align-self-center m-auto pt-xl-1 pb-xl-1 pe-xl-2 ps-xl-2 pt-1 mt-0 pb-0 mb-0 me-0 pe-md-1 pb-md-0 mb-md-0"
                    type="button"
                    style="
                        height: 40px;
                        width: 120px;
                        font-size: 1px;
                        padding: 0px 0px;
                        text-align: center;
                    "
                >
                    edit profile
                </button></a
            >
            {% else %}
            <form action="/follow" method="POST">
                {% csrf_token %}
                <input name="username" value={{profile.user}} hidden/>
                <button
                    class="btn btn-primary fs-6 fw-light text-center border-0 align-items-center align-content-center align-self-center m-auto pt-xl-1 pb-xl-1 pe-xl-2 ps-xl-2 pt-1 mt-0 pb-0 mb-0 me-0 pe-md-1 pb-md-0 mb-md-0"
                    type="submit"
                    style="
                        height: 40px;
                        width: 120px;
                        font-size: 1px;
                        padding: 0px 0px;
                        text-align: center;
                        font-weight: 800;
                    "
                >
                    {% if follow_rel %}
                        Followed
                    {% else %}
                        Follow
                    {% endif %}
                </button>
                <br />
            </form>
            {% endif %}
            <br />
        </h1>
        <h1
            class="fw-bold text-center ps-0 pb-0 mb-0 ps-md-0 pe-lg-0"
            style="font-size: 40px; text-align: left"
        >
            <br />
        </h1>
    </div>
    <div class="container text-center" style="width: 60%; font-size: 110%">
        <div class="row" style="font-size: 110%">
            <div class="col-md-4" style="font-size: 110%">
                <h3 style="text-align: center; font-size: 110%">
                    {{ posts|length }}
                </h3>
                <h3 style="text-align: center; font-size: 110%">Posts</h3>
            </div>
            <div class="col-md-4" style="font-size: 110%">
                <h3 style="text-align: center; font-size: 110%">{{follower}}</h3>
                <h3 style="text-align: center; font-size: 110%">Followers</h3>
            </div>
            <div class="col-md-4" style="font-size: 110%">
                <h3 style="text-align: center; font-size: 110%">{{following}}</h3>
                <h3 style="text-align: center; font-size: 110%">Following</h3>
            </div>
        </div>
    </div>
    <h1
        class="fw-bold text-center ps-0 pb-0 mb-0 ps-md-0 pe-lg-0"
        style="font-size: 40px; text-align: left"
    >
        <br />
    </h1>
    <div>
        <div
            class="container py-4 px-xl-5 my-xl-0 py-xl-0"
            style="
                width: 60%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1rem;
            "
        >
            {% for post in posts %}
            <div
                class="d-flex justify-content-center align-items-center"
                style="
                    width: 100%;
                    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
                        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
                "
            >
            <a class="img-wrapper" href="{% url 'post' post.id %}">
                <img
                    class="img-fluid inner-img"
                    src="{{post.image.url}}"
                    style="
                        width: 230px;
                        height: 230px;
                        object-fit: cover;
                        gap: 1rem;
                    "
                />
            </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
